<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Masterdata</a>
          </li>
      </ul>
  </div>
</nav>
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-6" name="kolom-kiri"><br>
              <h2> {{ kiri }} </h2>
            <hr/>
              <app-content></app-content>
          </div>

          <div class="col-md-6" name="kolom-kanan"><br>
            <h2> {{ kanan }} </h2>
          <hr/>

        </div>
        </div>
      </div> -->
<app-content></app-content>
      